Source: indicator-appmenu
Section: gnome
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               libgtk-3-dev,
               gnome-doc-utils,
               gnome-common,
               intltool,
               dbus-test-runner,
               xvfb,
               libindicator3-dev (>= 0.4.90),
               libdbusmenu-glib-dev (>= 0.5.90),
               libdbusmenu-gtk3-dev (>= 0.5.90),
               libdbusmenu-jsonloader-dev (>= 0.5.90),
               libbamf3-dev (>= 0.2.53),
               libsqlite3-dev,
               sqlite3,
               libreadline-dev,
               libncurses5-dev,
               libappindicator3-dev,
               indicator-application (>= 0.4.90),
               valac-0.16,
Standards-Version: 3.9.2
Homepage: http://launchpad.net/indicator-appmenu
Vcs-Bzr: http://bazaar.launchpad.net/~ubuntu-desktop/indicator-appmenu/ubuntu
Vcs-Browser: https://code.launchpad.net/~ubuntu-desktop/indicator-appmenu/ubuntu

Package: indicator-appmenu
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Recommends: indicator-applet | indicator-renderer,
            appmenu-gtk,
            appmenu-gtk3,
            appmenu-qt,
Description: Indicator for application menus.
 .
 This package provides support for application menus.

Package: indicator-appmenu-tools
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         indicator-appmenu (= ${binary:Version}),
         libdbusmenu-tools,
         sqlite3,
Description: Tools for debuging application menus.
 .
 This package provides tools for supporting application menus.

